# Development
PUBLIC_SITE_URL=http://localhost:4321
STRAPI_API_URL=http://localhost:1337/api

# Staging
# PUBLIC_SITE_URL=https://staging.vivinkv.me
# STRAPI_API_URL=https://api.vivinkv.me/api

# Production
# PUBLIC_SITE_URL=https://www.vivinkv.me
# STRAPI_API_URL=https://api.vivinkv.me/api
